<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="path_estimator"  pkg="de_ros_tutorial" type="path_estimator.py"  output="screen"/>
    <node name="state_publisher" pkg="de_ros_tutorial" type="state_publisher.py" output="screen"/>
    <node name="de_controller" pkg="de_ros_tutorial" type="quad_controller.py" output="screen"/>
</launch>
